DB_URL=jdbc:postgresql://ep-mute-mouse-aytsksjz-pooler.c-5.us-east-2.aws.neon.tech/neondb?sslmode=require
DB_USERNAME=neondb_owner
DB_PASSWORD= # DEBES SOLICITAR ESTA CREDENCIALES AL ADMINISTRADOR DE LA BASE DE DATOS